@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    font-size: medium;
    background-color:white;
    color: #112D4E;
    margin: 10px;
}

/*title and navigation menu*/
header {
    display: flex;
    align-items: baseline;
    border-bottom: solid 3px rgb(103, 103, 133);
    background-color:#f2eeee;

}

#title {
    padding: 4px 2px 2px 2px;
    text-transform: capitalize;
    text-align: left;
    margin-left: 20px;
    font-size: 140%;
    color: #112D4E;
}

.navigation {
    color: #112D4E;
    font-weight: 600;
    margin-left: auto;
    text-transform: uppercase;
}

.navigation ul {
    list-style-type: none;
}
.navigation a {
    text-decoration: none;
}
.navigation li {
    display: inline-block;
    font-size: 90%;
    margin-left: 10px;
    margin-right: 10px;
}
.navigation li a {
    font-weight: 600;
    color: #112D4E;
}
.active {
    color: #2d71c4;
}

/* introduction text to bookclub and image */
.about {
    margin-bottom: 5px;
    padding: 1px;
    background-color: white;
}

.intro {
    font-size: 110%;
    font-weight: 600;
    color: black;
    margin-top: 20px;
    display: flex;
}

#bookclub {
    text-align: center;
    position: absolute;
    margin-left: 50px;
    color:#112D4E;
}
.bookclub-text {
    text-align: left;
    font-weight: 500;
    font-size: 100%;
    margin:auto;
}

.intro img {
    width: 80%;
    height: 80%;
    margin:none;
}

.text-intro {
    text-align: center;
    margin: auto;
    font-size: 100%;
    padding-bottom: 20px;
}

/* Testimonials section in first page */
.testimonials {
    text-align: center;
    text-shadow: #FFECD9;
}

.container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.card {
    box-shadow: -1px -1px 10px 4px rgb(0 0 0 / 70%);
    transition: 0.3s;
    border-radius: 6px;
    background-color: aliceblue;
    margin-left: 30px;
    text-align: left;
    padding: 5px;
}

/* footer */
footer {
    margin-top: 10px 0px 10px 0px;
    border: solid 3px rgb(103, 103, 133);
    color: #1d4069;
    background-color:#DBE2EF;
}

.links {
    display: flex;
    height: auto;
    justify-content: center;
}

.links h3 {
    text-align: center;
    padding: 5px;
    font-size: 120%;
    color: #112D4E;
}

.icons {
    display: flex;
    text-align: center;
    align-items: center;
    padding: 5px;
    color: #112D4E;
}

.links i {
    font-weight: 600;
    font-size: 150%;
    text-align: center;
    margin-left: 10px;
    color:#112D4E;
}

/* reading list page styling */
.read {
    text-align: center;
    margin: 10px 30px 10px 30px;
    padding: 1px 10px 20px 5px;
}

.text-center {
    text-align: center;
    font-size: 110%;
    font-weight: 400;
    margin-bottom: 10px;
}

.books {
    display: block;
    white-space: normal;
    text-align: center;
}

.books ul {
    list-style: none;
}

.readinglist {
    display: inline-block;
    text-align: center;
}

.books li {
    border: #496377 solid 2px;
    margin-left: 2px;
    margin-bottom: 3px;
}

.books img {
    width: 200px;
    height: 300px;
    display: inline-block;
}

.books p {
    text-align: center;
    font-weight: 600;
    color: #20232a;
    text-decoration: underline;
}
 /*Sign Up Form */
.signup {
    text-align: center;
    font-size: 120%;
    color: #DBE2EF;
    background-color: #4a79b2;
    padding: 5px 10px;
}

.signup h2 {
    color: #DBE2EF;
}

input[type="text"] {
    padding: 10px;
    margin-bottom: 20px;
}

input[type="email"] {
    padding: 10px;
    margin-bottom: 20px;
}

input[type=submit] {
    padding: 3px 5px 4px 5px;
    font-size: 90%;
    text-transform: uppercase;
    color: #112D4E;
}
 /*meeting and map*/
 .meeting {
    background-color: #f2eeee;
    margin-bottom: 20px;
    padding: 10px 5px 10px 5px;
    display: flex;
}

.meeting h2 {
    text-align: center;
}

.meeting p {
    font-weight: 500;
    text-align: left;
}

#map {
    border: solid white 3px;
    margin-left: auto;
    width: 50%;
}

/*media queries*/
 /* screens width 1200px and smaller */
 @media screen and (max-width: 1200px) {
    header {
        display: inline-block;
    }

    .intro {
        display: block;
    }

    .intro img {
        width: 100%;
        height: 100%;
    }

    #title {
        text-align: center;
    }

    .signup {
        text-align: left;
        margin: auto;
    }

    .navigation {
        text-align: center;
    }

    .meeting {
        display: block;
    }

    #map {
        margin: auto;
        width: 100%;
    }

    input[type="text"] {
        margin-right: 100px;
    }
}
/* screens width 1200px and smaller */
@media screen and (max-width: 600px) {
    header {
        display: inline-block;
    }

    .intro {
        display: block;
    }

    .intro img {
        width: 100%;
        height: 100%;
    }

    #title {
        text-align: center;
    }

    .signup {
        text-align: left;
        margin: auto;
    }

    .navigation {
        text-align: center;
    }

    .meeting {
        display: block;
    }

    #map {
        margin: auto;
        width: 100%;
    }

    input[type="text"] {
        margin-right: 100px;
    }
}
