@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    font-size: medium;
    background-color: rgb(190, 221, 247)
    color:black;
}

/*title and navigation menu*/
header {
    display: flex;
    align-items: baseline;
    border-bottom: solid 3px rgb(103, 103, 133);

}

#title {
    padding: 4px 2px 2px 2px;
    text-transform: capitalize;
    text-align: left;
    margin-left: 20px;
    font-size: 140%;
}

.navigation {
    font-weight: 600;
    margin-left: auto;
    text-transform: uppercase;
}

.navigation ul {
    list-style: none;
}

.navigation li {
    display: inline-block;
    font-size: 90%;
    margin-left: 10px;
    margin-right: 10px;
}

/* introduction text to bookclub and image */
.about {
    margin-bottom: 5px;
    padding: 1px;
}

.intro {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin-top: 20px;
}

#bookclub {
    text-align: center;
}

.text-intro {
    text-align: center;
    margin: auto;
    font-size: 110%;

}

.intro img {
    width: 50%;
    height: 50%;
    margin: auto;
}

/* Testimonials section in first page */
.testimonials {
    text-align: center;
    text-shadow: #FFECD9;
}

.w3-container {
    display: flex;
    align-items: center;
}

.w3-card {
    box-shadow: -1px -1px 10px 4px rgb(0 0 0 / 70%);
    transition: 0.3s;
    border-radius: 6px;
    background-color: aliceblue;
    margin-left: 20px;
    text-align: center;
    padding: 2px;
}

/* footer */
footer {
    background-color: rgb(128, 128, 157);
    height: auto;
    margin-top: 10px;
}
.links {
    display:flex;
    height:auto;
    justify-content: center;
}
.links h3 {
    text-align: center;
    padding:5px;
    font-size: 120%;
    color: black;
}
.icons {
    display:flex;
    text-align: center;
    align-items: center;
    padding:5px;
}
.links i {
    font-weight: 600;
    font-size: 150%;
    text-align: center;
    margin-left: 10px;
    color: black;
}
/* reading list page styling */
.books {
    margin: 10px 30px 10px 30px;
    padding: 1px 10px 20px 5px;
    display:block;
    white-space: normal;
    text-align: center;
}
.books ul{
    list-style: none;
}
#readinglist{
    display:inline-block;
    text-align: center;  
}
.books li {
    border:#496377 solid 2px;
    margin-left: 2px;
    margin-bottom: 3px;
}
.books img {
    width: 200px;
    height: 300px;
    display:inline-block;
}
.books p {
    text-align: center;
    font-weight: 600;
    color:#4e535e;
    text-decoration: underline;
}